body {
  font-size: 0;
}

.div-left {
  background-color: red;
}

.div-center {
  background-color: yellow;
}

.div-right {
  background-color: blue;
}

.div-wide {
  width: 600px;
  height: 200px;
  background-color: green;
}

.inlineBlock-square {
  width: 200px;
  height: 200px;
  display: inline-block;
}
